meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
meta charset="utf-8" /
title Your Neighborhood IT Guy
/! Behavioral Meta Data
meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" /
/! Core Meta Data
meta content="Aether-Themes" name="author" /
meta content=("Full service landing &amp; coming soon page.") name="description" /
meta content="template,coming soon,landing page,html5,css3,jquery" name="keywords" /
/! Favicon
link href="favicon.png" rel=("shortcut icon") type="image/png" /
/! Apple Touch Icons
link href="apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144" /
link href="apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114" /
link href="apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72" /
link href="apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed" sizes="57x57" /
